:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

.container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn {
  width: 8rem;
  height: 2.75rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.btn-primary {
  background: var(--blue);
  color: var(--base);
}

.btn-secondary {
  background: var(--base);
  color: var(--text);
  border: 2px solid var(--lavender);
}

.btn-secondary:hover {
  transition: 0.4s ease-out;
  background: var(--blue);
  color: var(--base);
}
