/* ----- Root Variables ----- */
:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

main {
  height: 85vh;
  width: 100%;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  width: 35%;
}

.right {
  width: 65%;
}

.left {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 3%;
}

.right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glow {
  -webkit-box-shadow: 0px 0px 300px 0px rgb(137, 180, 250, 0.3);
  -moz-box-shadow: 0px 0px 300px 0px rgb(137, 180, 250, 0.3);
  box-shadow: 0px 0px 300px 0px rgb(137, 180, 250, 0.3);
  border: 1px solid var(--blue);
  border-radius: 0.25rem;
  height: calc(720px / 2);
  width: calc(1360px / 2);
  position: absolute;
}

#typing-element {
  font-size: var(--typed-font-size);
  padding: 5% 0;
}

.main-title {
  font-size: var(--main-title-fontsize);
  background: -webkit-linear-gradient(
    45deg,
    #89b4fa,
    #74c7ec,
    #89dceb,
    #94e2d5
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5% 0;
}

.left p {
  font-size: var(--main-desc-fontsize);
  padding: 5% 0;
}

.typed-cursor {
  font-weight: bolder;
  font-size: var(--cursor-font-size);
  line-height: var(--cursor-line-height);
}

.img {
  transition: 0.3s ease;
}

@media (max-width: 760px) {
  .left,
  .right {
    height: 50%;
    width: 100%;
  }

  main {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .left {
    padding: 0 5%;
  }

  .left p {
    font-size: 1rem;
  }

  .img {
    height: calc(360px / 2);
    width: calc(680px / 2);
  }
}

@media (max-width: 1100px) {
  .img {
    height: calc(360px / 1.75);
    width: calc(680px / 1.75);
  }
}
@media (max-width: 420px) {
  .img {
    height: calc(360px / 2.5);
    width: calc(680px / 2.5);
  }
}
